/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav a {
	text-decoration: none;
	color: black;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*** Buttons filters ***/
.filters {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

button {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	background-color: white;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	padding: 5px 15px;
	cursor: pointer;
}

button.active {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
	margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2 {
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/*** Login Page ***/
#login-link {
	font-weight: 600;
}

.forgotten-password {
	text-align: center;
	color: black;
}

#login-error {
	color: red;
	font-weight: 600;
	background-color: pink;
	padding: 8px 10px;
	text-align: center;
	display: none;
	margin-bottom: 25px;
}

/*** Connected ***/
.edition-banner {
	background-color: black;
	color: white;
	padding: 20px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	display: none;
	width: 100vw;
    margin-left: calc(50% - 50vw);
}

.title {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.edit-btn {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	display: none;
}


/*** MODAL ***/
dialog#works-modal {
	border: none;
	border-radius: 10px;
	padding: 0;
	width: 40%;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.4);
}

.modal_panel {
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
	margin: 0;
}

.modal_header {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.modal_close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.modal_back {
	position: absolute;
	top: 20px;
	left: 20px;
}

#modal-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#modal-buttons button {
	border: none;
	color: black;
	font-size: 24px;
	font-weight: 300;
	padding: 0;
}

.modal_title {
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	margin: 50px 0 10px;
}

.icon-btn {
	border: none;
	background: transparent;
	width: 40px; height: 40px;
	display: grid; place-items: center;
	cursor: pointer;
	color: #000000;
}

.modal_view {
	margin: 0;
}

.modal_grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
	padding: 30px 60px;
}

.modal_thumb {
    position: relative;
}

.modal_thumb img {
	display: block;
	width: 100%;
	height: 110px;
	object-fit: cover;
}

.modal_divider {
	border: none;
	border-top: 1px solid #B3B3B3;
	margin: 24px 64px;
}

.modal_trash {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #000000;
	border: none;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.modal_trash i {
	color: white;
	font-size: 11px;
}

.modal_footer {
	display: flex;
	justify-content: center;
	padding-top: 6px;
	margin-bottom: 30px;
}

.btn {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	border-radius: 60px;
	padding: 12px 26px;
	border: none;
	cursor: pointer;
}

.btn-primary {
	background-color: #1D6154;
	color: white;
}

.btn-disabled {
	background-color: #A7A7A7;
	cursor: not-allowed;
}

.upload_zone {
	background-color: #E8F1F6;
	border-radius: 3px;
	height: 170px;
	display: flex;
	flex-direction: column; 
	gap: 5px;
	align-items: center;
	justify-content: center;
	margin: 18px 64px 8px;
	padding: 10px 60px;
	position: relative;
}

.upload_icon { 
	margin: 0;
}

.bx-image {
	font-size: 76px;
	color: #B9C5CC;
}

.btn-upload {
	background-color: #CBD6DC;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
	border-radius: 25px;
	padding: 10px 16px;
}

.upload_hint {
	font-size: 12px; 
	color:#444; 
	margin: 0;
}

.upload_zone img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    object-fit: cover;
    background-color: #E8F1F6;
}

.form_label { 
	display: block; 
	margin: 18px 0 10px; 
	font-weight: 500;
	color: #3D3D3D;
	font-size: 14px;
}

.form_input {
	width: 100%;
	padding: 10px;
	border: none; 
	background-color:#fff; 
	color: #444;
	box-shadow: 0 4px 14px rgba(0,0,0,.09);
	font-size: 14px;
	margin-bottom: 8px;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-right: 40px;
}

.bx-chevron-down {
    position: absolute;
    right: 15px;
	top: 12px;
    font-size: 14px;
    pointer-events: none;
    color: #444;
}

.group_input {
	padding: 0;
	margin: 0 64px;
}

#title-input {
	width: 95%;
}

[hidden] {
	display: none !important;
}